<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://kit.fontawesome.com/b3b89cf277.js" crossorigin="anonymous"></script>
</head>

<style>
    #Schema,
    #data,
    #auth {
        display: none;
    }

    .api {
        position: fixed;
        left: 23%;
        top: 35%;
    }

    .bt3 {
        position: absolute;
        right: 29.7%;
        top: 23%;
    }

    .bt4 {
        position: absolute;
        transition: all 0.7s linear;
        overflow: hidden;
        top: 41%;
    }

    .cut {
        position: absolute;
        right: 2%;
        top: 3%;
    }

    .cut i {
        color: gray;
        transition: all 0.2s linear;
    }

    .cut:hover i {
        color: rgb(0, 255, 17);
    }

    .btmc {
        position: absolute;
        right: 10%;
        margin-top: 7px;
        border: 1px solid gray;
        border-radius: 10px;
        width: 50px;
        height: 30px;
        font-size: 12px;
        cursor: pointer;
    }

    .btmc:active {
        font-size: 0;
        transition: all 0.7s linear;
    }

    #mark {
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 4px 0 13px;
    }

    #switchAcc {
        z-index: 12;
        position: fixed;
        left: 32.5%;
        display: none;
        top: 10%;
    }

    #barclick {
        display: none;
        position: fixed;
        bottom: 10%;
    }

    #btn,
    #btn i {
        transition: all 0.2s linear;
    }

    #btn:hover {
        background-color: rgb(55, 55, 55);
    }

    .cover {
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 10;
        display: none;
        background-color: #000000b4;
    }

    .bar {
        position: fixed;
        transition: all 0.6s linear;
        background-color: rgb(55, 55, 55);
        bottom: 0.7%;
        left: 1%;
    }

    .bar:hover {
        background-color: green;
    }

    #box4:hover {
        transform: scale(0.9);
        cursor: pointer;
    }

    .ic{
        transition: all 0.7s linear;
    }

    #box4,
    .key,
    .bar img,
    .rotate {
        transition: all 0.7s linear;
    }

    .bt3:hover .key {
        transform: translatey(-3px);
    }

    .bt4:hover .key {
        transform: translatey(-1px);
    }

    .bt4:hover {
        width: 50px;
    }

    .bt4 .key {
        transform: translatey(14px);
    }

    .bar:hover img {
        transform: scale(-1);
    }

    .ok:hover .rotate {
        transform: rotate(180deg);
    }
</style>

<body class="bg-zinc-900 text-white h-screen flex flex-row gap-6 overflow-hidden">
    <div class="cover"></div>
    <div class="bg-zinc-800 p-6 w-[22%] flex flex-col items-center gap-7">
        <h1 class="text-2xl text-green-500 w-full font-bold text-left text">BackCrafter</h1>

        <div class="flex flex-col w-full gap-4">
            <button id="btn" class="w-full rounded-xl cursor-pointer p-2 text-left flex flex-row items-center gap-3"><i
                    class="fa-solid fa-circle-user ic fa-lg"></i>Profile</button>
            <button id="btn" class="w-full cursor-pointer rounded-xl p-2 text-left flex flex-row items-center gap-3"><i
                    class="fa-solid ic
                     fa-database fa-xl"></i> Schema API</button>
            <button id="btn" class="w-full cursor-pointer rounded-xl p-2 text-left flex flex-row items-center gap-3"><i
                    class="fa-solid fa-file-zipper ic fa-lg"></i>Data Save API</button>
            <button id="btn" class="w-full cursor-pointer rounded-xl p-2 text-left flex flex-row items-center gap-3"><i
                    class="fa-solid fa-shield ic fa-lg"></i>Auth Handle API</button>
        </div>
    </div>
    <div class="bar cursor-pointer flex rounded-xl p-2 w-[20.5%] items-center justify-centre gap-4">
        <div class="rounded-full border-1 border-black size-12 overflow-hidden">
            <img src="<%= data.src %>" style="width: 100%;height: 100%; object-fit: cover;" alt="">
        </div>
        <div class="flex flex-col">
            <h1 class="text-lg font-bold">
                <%= username %>
            </h1>
            <p class="text-sm text-yellow-400">Premium</p>
        </div>
    </div>

    <div class="bg-gray-900 border-2 border-black p-5 flex flex-col justify-between rounded-xl h-[80%] w-[27%] shadow-2xs text-center"
        id="switchAcc">

        <p id="mark" class="cursor-pointer w-7"><i class="fa-solid fa-xmark hover:text-red-700"></i>
        </p>
        <div class="flex flex-col gap-8 mb-5">
            <h2 class="text-3xl mt-2 font-semibold text-center">
                <span class="text-green-500 text">Your</span> Profile
            </h2>
            <div class="flex flex-row gap-7 justify-centre">
                <div class="flex flex-col">
                    <div class="rounded-full border-2 cursor-pointer border-green-500 bordr size-23 overflow-hidden">
                        <img src="<%=data.src%>" style="width: 100%;height: 100%; object-fit: cover;" alt="">
                    </div>
                    <%= username %>
                </div>
                <div class="flex flex-col text-left mt-3 ">
                    <p>
                        <%= data.fullname %>
                    </p>
                    <p class="text-green-400 text text-sm">
                        <%= data.email %>
                    </p>
                    <p class="text-gray-400 text-sm">
                        <i class="fa-solid fa-phone fa-sm" style="color: #ffffff;"></i> +91
                        <%= data.number %>
                    </p>
                    <a href="/update"
                        class="bt4 border-1 hover:bg-yellow-500 gap-1 border-yellow-500 rounded-lg flex justify-centre items-center pl-1 w-[30px] cursor-pointer text-xs">
                        Edit <p class="key"><i class="fa-solid fa-user-pen" style="color: #ffffff;"></i></p>
                    </a>
                </div>
            </div>
            <div class="flex flex-col justify-centre items-center gap-4 ok">
                <div class="flex flex-col gap-2 w-[100%]">
                    <div id="us"
                        class="flex cursor-pointer flex-row justify-centre bg-green-800 rounded-full items-center bgc gap-3">
                        <input type="hidden" value="<%= addeduser[0] %>">
                        <div class="rounded-full border-2 border-yellow-500 size-12 overflow-hidden">
                            <img src="<%= post[0] %>" style="width: 100%;height: 100%; object-fit: cover;" alt="">
                        </div>
                        <h1 class="text-xl font-bold">
                            <%= saved[0] %>
                        </h1>
                    </div>
                </div>
                <i class="fa-solid fa-repeat rotate fa-lg" style="color: #ffffff;"></i>
                <div class="flex flex-col gap-2 w-[100%]">
                    <div id="us"
                        class="flex flex-row cursor-pointer justify-centre bg-gray-800 rounded-full items-center gap-3">
                        <input type="hidden" value="<%= addeduser[1] %>">
                        <div class="rounded-full border-2 border-yellow-500 size-12 overflow-hidden">
                            <img src="<%= post[1] %>" style="width: 100%;height: 100%; object-fit: cover;" alt="">
                        </div>
                        <h1 class="text-xl font-bold">
                            <%= saved[1] %>
                        </h1>
                    </div>
                </div>
            </div>
        </div>

        <div class=" flex flex-row items-center justify-centre gap-5">
            <a id="switch" href="/login" class="hover:bg-green-900 rounded-lg p-2 bg-green-800 cursor-pointer bgc"><i
                    class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i> Add Another
                Account</a>
            <a href="logout" class="hover:bg-red-900 border-1 border-black p-2 bg-red-800 rounded-lg">logout
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i></a>
        </div>
    </div>

    <div id="hid" class="flex flex-col items-center gap-6 justify-between w-[47%] h-screen">
        <div class="flex flex-row items-center gap-4 w-full bg-zinc-800 rounded-xl px-2 py-5 mt-8">
            <div class="rounded-full border-2 cursor-pointer border-green-500 size-25 overflow-hidden bordr">
                <img src="<%=data.src%>" style="width: 100%;height: 100%; object-fit: cover;" alt="">
            </div>

            <div class="flex flex-col justify-centre">
                <h1 class="text-2xl font-bold">
                    <%= username %>
                </h1>
                <h2 class="text-green-500 text">
                    <%=data.email %>
                </h2>
                <p class="flex flex-row gap-2 text-sm text-gray-500 items-center"><i class="fa-solid fa-phone fa-mg"
                        style="color: #616161;"></i>+91 <%=data.number %>
                </p>
                <p class="flex flex-row gap-2 text-sm text-gray-500 items-center">
                    <%= data.fullname %>
                </p>
                <button id="bt3" class="bt3 border-2 border-green-400 bordr rounded-lg h-7 w-7 cursor-pointer text-xs">
                    <p class="key">🗝️</p>
                </button>
            </div>
        </div>

        <div class="flex flex-row gap-6 w-full justify-between mt-2">
            <div id="box4"
                class="flex-col border-2 border-yellow-500 flex justify-centre rounded-xl bg-zinc-800 gap-2 p-4 size-30">
                <h1 class="text-yellow-500 font-bold text-xl">
                    <%= api.totalRequest %>
                </h1>
                <p>Total Request</p>
            </div>
            <div id="box4"
                class="flex-col flex border-2 border-blue-400 justify-centre rounded-xl bg-zinc-800 gap-2 p-4 size-30">
                <h1 class="text-blue-500 font-bold text-xl">
                    <%= api.success %>
                </h1>
                <p>Success Request </p>
            </div>
            <div id="box4"
                class="flex-col border-2 border-red-400 flex justify-centre rounded-xl bg-zinc-800 gap-2 p-4 size-30">
                <h1 class="text-red-500 font-bold text-xl">
                    <%= api.fail %>
                </h1>
                <p>Fail Request</p>
            </div>
            <div id="box4"
                class="flex-col border-2 border-green-500 flex justify-centre rounded-xl bg-zinc-800 gap-2 p-4 size-30">
                <p class="font-bold text-lg">Storage</p>
                <h1 class="text-green-500">
                    <%= total %> Bytes
                </h1>
            </div>
        </div>

        <div class="flex flex-col bg-zinc-800 py-3 px-5 rounded-xl gap-5 w-full mt-3">
            <h3 class="text-lg w-full border-b-2 border-green-500 bordr">All Requests :-</h3>
            <div class=" flex-col flex  h-38 mb-10 overflow-y-scroll gap-10"
                style="scrollbar-width: none;-ms-overflow-style:none">

                <div class="flex flex-col gap-10 items-center w-full justify-between">
                    <% let i=0 %>
                        <% if (api.activities) { %>
                            <% api.activities.forEach(info=> {%>
                                <% i++ %>
                                    <div class="flex flex-row items-center w-full justify-between">
                                        <p>
                                            <%=i %>. <%= info.message %>.
                                        </p>
                                        <% let color=null%>
                                            <% if (info.responseStatus=='Success' ) { %>
                                                <% color='text' %>
                                                    <% } else {%>
                                                        <% color='text-red-500' %>
                                                            <%} %>
                                                                <p class="<%= color %> font-bold">
                                                                    <%= info.statuscode %>
                                                                </p>
                                    </div>
                                    <% }); %>
                                        <% } %>
                </div>
            </div>
        </div>
    </div>

    <div id="hid"
        class="flex flex-col w-[25%] h-fitcontent mt-8 rounded-xl justify-centre items-center p-4 bg-zinc-800">
        <div class="w-[100%] flex flex-row items-center justify-between border-b-2 border-green-500 bordr">
            <h3 class="text-2xl">Statistics</h3>
            <p class="month"></p>
        </div>
        <div class="flex-col flex w-full gap-1">
            <div class="w-[100%] flex flex-row items-center justify-between mt-5">
                <h3 class="text-lg">Fail</h3>
                <p class="text-red-500 font-bold">
                    <%= fa || 0 %>%
                </p>
            </div>
            <p class="text-gray-500 text-sm">Based on fail Request</p>
            <p class="p-2 text-xs text-center w-[90%] text-gray-500 bg-gray-800 rounded-lg">[Graph Placeholder -
                Neon
                Red Line]</p>
            <div class="flex-col flex w-full gap-1">
                <div class="w-[100%] flex flex-row items-center justify-between mt-5">
                    <h3 class="text-lg">Success</h3>
                    <p class="text-green-500 font-bold text">
                        <%= sc || 0 %>%
                    </p>
                </div>
                <p class="text-gray-500 text-sm">Based on success Request</p>
                <p class="p-2 text-xs text-center w-[90%] text-gray-500 bg-gray-800 rounded-lg">[Graph Placeholder -
                    Neon
                    Green Line]</p>
            </div>
        </div>
    </div>

    <div class="flex flex-col w-[75%] gap-10" id="Schema">
        <h1 class="text-3xl mt-5 text-green-500 flex border-b-2 border-white flex-row gap-3 items-center font-bold">
            <i class="fa-solid fa-wrench fa-sm" style="color: #ffffff;"></i>Schema Api Management
        </h1>
        <div>
            <h2 class="text-green-300 mt-10 text-xl">API Name : Create Collention Schema</h2>
            <p>Decription Define a new data Collention (e.g.,'products','post') and its fields using a JSON payload.
            </p>
        </div>


        <div class="flex-row mt-4 flex w-[90%] border-green-500 border-l-2 bg-zinc-800 rounded-xl h-99 overflow-y-scroll"
            style="scrollbar-width: none;-ms-overflow-style:none">
            <button onclick="copy3()" class="btmc hover:bg-green-500">Copy</button>
            <pre><code class="cod3">
    //Example Create a new 'articles' Collention
    fetch('http://api.BackCrafter.io/v1/Schema/create',{
        method: 'POST',
        header: {
            'Aurhoritization': 'Bearer sk_live_xxxxxxx',
            'Content-type': 'application/json'
        },
        body: JSON.stringify({
            name:'articles',
            fields:[
            {name:'title',type:'string',required: true},
            {name: 'content',type: 'text'},
            {name:'pubished_at', type: 'datetime'}
            ]
        })
    })
    .then(res => res.json())
    .then(data => console.log('Schema Created:', data));
            </code></pre>
        </div>

    </div>

    <div class="flex flex-col w-[75%] gap-10" id="data">
        <h1 class="text-3xl mt-5 text-green-500 flex border-b-2 border-white flex-row gap-3 items-center font-bold">
            <i class="fa-solid fa-server fa-xs" style="color: #ffffff;"></i>Data Save API
        </h1>
        <div>
            <h2 class="text-green-300 mt-10 text-xl">API Name : Create Collention Data Base</h2>
            <p>Decription Define a new data Collention (e.g.,'products','post') and its fields using a JSON payload.
            </p>
        </div>


        <div class="flex-row mt-4 flex w-[90%] border-green-500 border-l-2 bg-zinc-800 rounded-xl h-99 overflow-y-scroll"
            style="scrollbar-width: none;-ms-overflow-style:none">
            <button onclick="copy2()" class="btmc hover:bg-green-500">Copy</button>
            <pre><code class="cod2">
    //Example Create a new 'articles' Collention
    fetch('http://api.BackCrafter.io/v1/Schema/create',{
        method: 'POST',
        header: {
            'Aurhoritization': 'Bearer sk_live_xxxxxxx',
            'Content-type': 'application/json'
        },
        body: JSON.stringify({
            name:'articles',
            fields:[
            {name:'title',type:'string',required: true},
            {name: 'content',type: 'text'},
            {name:'pubished_at', type: 'datetime'}
            ]
        })
    })
    .then(res => res.json())
    .then(data => console.log('Schema Created:', data));
            </code></pre>
        </div>

    </div>

    <div class="flex flex-col w-[75%] gap-10" id="auth">
        <h1 class="text-3xl mt-5 text-green-500 flex border-b-2 border-white flex-row gap-3 items-center font-bold">
            <i class="fa-solid fa-wand-sparkles fa-xs" style="color: #ffffff;"></i>Auth Handle API
        </h1>
        <div>
            <h2 class="text-green-300 mt-10 text-xl">API Name : Create Collention Auth Handle</h2>
            <p>Decription Define a new data Collention (e.g.,'products','post') and its fields using a JSON payload.
            </p>
        </div>


        <div class="flex-row mt-4 flex w-[90%] border-green-500 border-l-2 bg-zinc-800 rounded-xl h-99 overflow-y-scroll"
            style="scrollbar-width: none;-ms-overflow-style:none">
            <button onclick="copy1()" class="btmc hover:bg-green-500">Copy</button>
            <pre><code class="cod">
    //Example Create a new 'articles' Collention
    fetch('http://api.BackCrafter.io/v1/Schema/create',{
        method: 'POST',
        header: {
            'Aurhoritization': 'Bearer sk_live_xxxxxxx',
            'Content-type': 'application/json'
        },
        body: JSON.stringify({
            name:'articles',
            fields:[
            {name:'title',type:'string',required: true},
            {name: 'content',type: 'text'},
            {name:'pubished_at', type: 'datetime'}
            ]
        })
    })
    .then(res => res.json())
    .then(data => console.log('Schema Created:', data));
            </code></pre>
        </div>

    </div>

    <div class="flex flex-col api items-center bg-zinc-800 w-[50%] p-8 rounded-2xl border border-green-500 bordr shadow-[0_0_10px_#00ff88]"
        style="display:none;">
        <p class="text-gray-400 text-lg text-center text-green-400 -mt-2 mb-5 text">Your API Key</p>

        <div class="flex flex-row justify-between w-full border border-green-600 items-center rounded-lg bordr">
            <input type="text"
                class="w-[90%] signup-inputs bg-transparent outline-none p-2 text-sm placeholder-gray-400 focus:border-green-400 bordr transition-all duration-200"
                placeholder="Enter your Username" value="<%= data.apikey %>" id="key" />
            <button
                class="border-green-500 border-1 bordr text-xs rounded-sm mr-1 cursor-pointer hover:bg-green-500 px-2 h-7"
                onclick="copy()">Copy</button>
        </div>
        <p class="cut cursor-pointer"><i class="fa-solid fa-xmark fa-lg"></i></p>
    </div>

    <script>
        const api = document.querySelector('.api')
        const us = document.querySelectorAll('#us')
        const Switch = document.querySelector('#switch')
        const switchAcc = document.querySelector('#switchAcc')
        const bar = document.querySelector('.bar')
        const barclick = document.querySelector('#barclick')
        const mark = document.querySelector('#mark')
        const box4 = document.querySelectorAll('#box4')
        const cut = document.querySelector('.cut')
        const bt3 = document.querySelector('#bt3')
        const auth = document.querySelector('#auth')
        const data = document.querySelector('#data')
        const hid = document.querySelectorAll('#hid')
        const btn = document.querySelectorAll('#btn')
        const month = document.querySelector('.month')
        const cover = document.querySelector('.cover')
        const text = document.querySelectorAll('.text')
        const bgc = document.querySelectorAll('.bgc')
        const bordr = document.querySelectorAll('.bordr')
        const Schema = document.querySelector('#Schema')
        let color = 'green'

        box4.forEach(b => {
            b.addEventListener('click', () => {
                if (b == box4[0]) {
                    color = 'var(--color-yellow-500)'
                }
                if (b == box4[1]) {
                    color = 'var(--color-blue-400)'
                }
                if (b == box4[2]) {
                    color = 'var(--color-red-400)'
                }
                if (b == box4[3]) {
                    color = 'var(--color-green-500)'
                }
                document.querySelector('#btn').style.backgroundColor = color
                let i = 0
                bordr.forEach(bb => {
                    text[i].style.color = color || ''
                    bb.style.borderColor = color
                    if (bgc[i]) {
                        bgc[i].style.backgroundColor = color
                    }
                    i++
                });
            })
        });

        us.forEach(element => {
            element.addEventListener('click', async () => {
                const username = element.childNodes[5].textContent.trim()
                const password = element.childNodes[1].value.trim()

                const response = await fetch("/login", {
                    method: "POST",
                    headers: { "Content-type": "application/json" },
                    body: JSON.stringify({
                        username,
                        password,
                    })
                })
                let data = await response.json()
                if (data.success) {
                    cover.style.display = 'block'
                    window.location.href = data.redirect;
                } else {
                    console.log(data);
                }
            })
        });

        bar.addEventListener('click', () => {
            bar.style.display = 'none'
            cover.style.display = 'block'
            switchAcc.style.display = 'block'
        })

        mark.addEventListener('click', () => {
            bar.style.display = 'flex'
            cover.style.display = 'none'
            switchAcc.style.display = 'none'
        })

        const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        month.innerHTML = `${months[new Date().getMonth()]}`

        function copy() {
            const copyText = document.querySelector('#key')
            navigator.clipboard.writeText(copyText.value);
            mark.click()
            cut.click()
        }
        function copy1() {
            const copyText = document.querySelector('.cod')
            navigator.clipboard.writeText(copyText.textContent);
            mark.click()
        }
        function copy2() {
            const copyText = document.querySelector('.cod2')
            navigator.clipboard.writeText(copyText.textContent);
            mark.click()
        }
        function copy3() {
            const copyText = document.querySelector('.cod2')
            navigator.clipboard.writeText(copyText.textContent);
            mark.click()
        }

        cut.addEventListener('click', () => {
            api.style.display = 'none'
            bt3.style.backgroundColor = 'transparent'
            mark.click()
        })

        bt3.addEventListener('click', () => {
            if (api.style.display == 'none') {
                api.style.display = 'block'
                bt3.style.backgroundColor = color
                mark.click()
            } else {
                api.style.display = 'none'
                bt3.style.backgroundColor = 'transparent'
                mark.click()
            }
        })

        btn.forEach(b => {

            b.addEventListener('mousemove', () => {
                if (b == btn[1]) btn[1].childNodes[0].style.transform = 'rotatey(180deg)'
                if (b == btn[2]) btn[2].childNodes[0].style.transform = 'rotatey(180deg)'
                if (b == btn[3]) btn[3].childNodes[0].style.transform = 'rotatey(180deg)'
            })

            b.addEventListener('mouseleave', () => {
                btn[1].childNodes[0].style.transform = 'rotatey(0deg)'
                btn[2].childNodes[0].style.transform = 'rotatey(0deg)'
                btn[3].childNodes[0].style.transform = 'rotatey(0deg)'
            })

            b.addEventListener('click', () => {
                mark.click()

                Schema.style.display = 'none'
                hid.forEach(h => {
                    h.style.display = 'none';
                });
                data.style.display = 'none'
                auth.style.display = 'none'

                if (b.textContent.trim() == 'Schema API') {
                    Schema.style.display = 'block'
                    b.childNodes[0].classList.add('text-yellow-500')

                } else if (b.textContent == 'Data Save API') {
                    data.style.display = 'block'
                    b.childNodes[0].classList.add('text-blue-400')
                }
                else if (b.textContent == 'Auth Handle API') {
                    b.childNodes[0].classList.add('text-red-500')
                    auth.style.display = 'block'
                }
                else {
                    hid.forEach(h => {
                        h.style.display = 'flex';
                    });
                }
                btn.forEach(b => {
                    b.style.backgroundColor = 'transparent'
                });
                b.style.backgroundColor = color
            })
        });

        window.onload = () => {
            document.querySelector('#btn').style.backgroundColor = color
        }

    </script>

</body>

</html>